{
    "printWidth": 80,
    "tabWidth": 2,
    "semi": false,
    "endOfLine": "lf",
    "trailingComma": "none",
    "singleQuote": true,
    "singleAttributePerLine": false,
    "jsxSingleQuote": true,
    "bracketSpacing": true

}